body {
	position : relative;
}
section{
	text-align : center;
	position : fixed;
	top : 0px;
	bottom : 0px;
	left : 0px;
	right : 0px;
}
.login{
	vertical-align : middle;
	display : inline-block;
	margin-right : 100px;
	margin-bottom : 5%;
}
.login .logo{
	width : 150px;
	margin : 20px;
}
.login .right{
	display : inline-block;
	width : 100px;
	text-align : right;
	margin-right : 10px;
}
.login .left{
	display : inline-block;
	width : 150px;
	margin : 10px;
	margin-top : 5px;
	margin-bottom : 5px;
}
.login input{
	margin : 0px;
}
.login .input label{

}
.login .input #submit{
	cursor : pointer;
	display : inline-block;
	background-color : rgb(210,210,210);
	color : rgb(30,30,30);
	font-size : 14px;
	padding : 2px;
	padding-left : 10px;
	padding-right : 10px;
	width : auto;
	border : none;
}

.login .input #submit:hover{
	
}
.login .input #submit:active{
	background-color : rgb(150,150,150);
}

.login .input #loginMsg{
	position : absolute;
	text-align : center;
	margin-left : -20px;
	
	
}

@media only screen and (max-width : 400px){
	.login{
		margin-right : 0px;
	}
	.login .right{
		display :block;
	}
	.login .right{
		text-align : left;
		width : 
	}
	
	
}

